Repository consuldemocracy/consuldemocracy, pull requests merged in 2018-11, with the labels that each got.

#3007 i18n remove date.order key
  config/locales/en/rails.yml
Labels: Translations

#3033 [Backport] Budgets unselected message
  app/views/budgets/investments/_investment_show.html.erb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement, UX

#3039 [Backport] Legislation dates
  app/helpers/legislation_helper.rb
  spec/features/legislation/processes_spec.rb
Labels: Improvement, Legislation

#3040 [Backport] Help feature
  app/views/debates/new.html.erb
  app/views/pages/help/how_to_use/index.html.erb
  app/views/welcome/welcome.html.erb
  db/dev_seeds/widgets.rb
Labels: Improvement

#3041 [Backport] Budget investment show
  app/views/budgets/investments/_investment_show.html.erb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement

#3042 Pages texts
  app/views/pages/accessibility.html.erb
  app/views/pages/census_terms.html.erb
  app/views/pages/conditions.html.erb
  app/views/pages/general_terms.html.erb
  app/views/pages/privacy.html.erb
  config/locales/en/pages.yml
  spec/controllers/pages_controller_spec.rb
Labels: Improvement

#3053 [Backport] Budget investments social share
  app/views/budgets/investments/_investment_show.html.erb
  config/locales/en/budgets.yml
  config/locales/es/budgets.yml
Labels: Budget, Improvement

#3054 [Backport] Globalize tabs
  app/assets/stylesheets/layout.scss
  app/views/admin/shared/_common_globalize_locales.html.erb
Labels: Admin, Improvement

#3055 [Backport] Admin poll officers
  app/controllers/admin/poll/officers_controller.rb
  app/views/admin/poll/officers/edit.html.erb
  app/views/admin/poll/officers/show.html.erb
  config/routes/admin.rb
Labels: Admin, Improvement

#3056 [Backport] Administrator ID
  app/views/admin/administrators/index.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/administrators_spec.rb
Labels: Admin, Improvement

#3034 Fix pagination after selecting/unselecting budget investment
  .gitignore
  app/views/admin/budget_investments/_investments.html.erb
  app/views/admin/budget_investments/_select_investment.html.erb
  app/views/admin/budget_investments/toggle_selection.js.erb
  spec/features/admin/budget_investments_spec.rb
Labels: Budget, Bug

#3029 Update debates_spec.rb
  spec/features/debates_spec.rb
Labels: Tech

#2970 Removed icon_home and fixed corresponding test
  app/models/site_customization/image.rb
  spec/features/admin/site_customization/images_spec.rb
Labels: UX
