Repository consuldemocracy/consuldemocracy, pull requests merged in 2019-02, with the labels that each got.

#3253 [Backport] Admin polls list
  app/controllers/admin/poll/polls_controller.rb
  app/views/admin/poll/polls/_poll.html.erb
  app/views/admin/poll/polls/index.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/poll/polls_spec.rb
Labels: Admin, Improvement, Polls

#3267 [Backport] Always show markers on budgets index map
  app/helpers/budgets_helper.rb
  app/models/budget.rb
  spec/features/budgets/budgets_spec.rb
Labels: Budget, Improvement

#3252 Allow select column width for widget cards
  app/assets/stylesheets/layout.scss
  app/controllers/admin/widget/cards_controller.rb
  app/views/admin/site_customization/cards/index.html.erb
  app/views/admin/widget/cards/_form.html.erb
  app/views/pages/_card.html.erb
  app/views/pages/_cards.html.erb
  app/views/welcome/_card.html.erb
  app/views/welcome/index.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  db/migrate/20190131122858_add_columns_to_widget_cards.rb
  db/schema.rb
  spec/features/admin/widgets/cards_spec.rb
Labels: Admin, Improvement, UX, Upstream

#3264 [Backport] Set tags max length to 160
  app/assets/javascripts/tags.js.coffee
  app/models/tag.rb
  db/migrate/20190205131722_increase_tag_name_limit.rb
  db/schema.rb
  lib/tag_sanitizer.rb
  spec/factories/classifications.rb
  spec/models/tag_spec.rb
Labels: Improvement, UX

#3251 Configurable email interceptor by environment
  Gemfile
  Gemfile.lock
  config/initializers/recipient_interceptor.rb
  config/secrets.yml.example
  spec/features/emails_spec.rb
Labels: Tech

#3268 [Backport] Budgets UI minor fixes
  app/assets/stylesheets/participation.scss
  app/helpers/budgets_helper.rb
  app/views/admin/budgets/_form.html.erb
  app/views/budgets/groups/show.html.erb
  app/views/budgets/index.html.erb
  app/views/budgets/investments/_investment_show.html.erb
  spec/features/admin/budget_investments_spec.rb
  spec/features/admin/budgets_spec.rb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement

#3269 [Backport] Change layout on homepage if feed debates and proposals are enabled
  app/helpers/feeds_helper.rb
  app/views/welcome/_feeds.html.erb
  spec/features/admin/homepage/homepage_spec.rb
Labels: Improvement, UX

#3277 Improve color picker on admin legislation process
  app/assets/javascripts/forms.js.coffee
  app/views/admin/legislation/processes/_form.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
Labels: Admin, Improvement, Legislation, UX, Upstream

#3278 [Backport] Do not display alert when supporting in a group with a single heading
  app/helpers/budgets_helper.rb
  app/views/budgets/investments/_votes.html.erb
  spec/features/budgets/investments_spec.rb
  spec/features/budgets/votes_spec.rb
  spec/features/management/budget_investments_spec.rb
Labels: Budget, Improvement, UX

#3274 [Backport] Send newsletter emails in order
  lib/user_segments.rb
  spec/lib/user_segments_spec.rb
Labels: Newsletters

#3275 LegacyLegislation migration cleanup
  app/controllers/annotations_controller.rb
  app/controllers/legacy_legislations_controller.rb
  app/models/abilities/administrator.rb
  app/models/abilities/common.rb
  app/models/abilities/everyone.rb
  app/models/annotation.rb
  app/models/legacy_legislation.rb
  app/views/legacy_legislations/show.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  db/migrate/20190124084612_drop_annotations_table.rb
  db/migrate/20190124085815_drop_legacy_legislations_table.rb
  db/schema.rb
  spec/factories/legislations.rb
  spec/models/abilities/administrator_spec.rb
Labels: Legislation

#3281 Replace sccs lint string quotes to double quotes
  .scss-lint.yml
  app/assets/stylesheets/_consul_settings.scss
  app/assets/stylesheets/_settings.scss
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/annotator_overrides.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/datepicker_overrides.scss
  app/assets/stylesheets/fonts.scss
  app/assets/stylesheets/foundation_and_overrides.scss
  app/assets/stylesheets/icons.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/legislation_process.scss
  app/assets/stylesheets/milestones.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/participation.scss
Labels: Improvement

#3191 Fix i18n and UI minor details
  app/assets/stylesheets/layout.scss
  app/views/admin/settings/_configuration.html.erb
  app/views/budgets/investments/_investment_show.html.erb
  app/views/proposals/_social_share.html.erb
  config/locales/en/admin.yml
  config/locales/en/budgets.yml
  config/locales/en/general.yml
  config/locales/en/settings.yml
  config/locales/es/admin.yml
  config/locales/es/budgets.yml
  config/locales/es/general.yml
  config/locales/es/settings.yml
  spec/features/admin/budgets_spec.rb
Labels: Backport, Improvement, UX

#3290 [Backport] Include heading names in "headings limit reached" alert
  app/models/budget/investment.rb
  app/models/user.rb
  app/views/budgets/investments/_votes.html.erb
  config/initializers/vote_extensions.rb
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/features/budgets/votes_spec.rb
  spec/models/user_spec.rb
Labels: Budget, Improvement

#3291 [Backport] Use votes score instead of total votes on debates and legislation proposals
  app/models/debate.rb
  app/models/legislation/proposal.rb
  app/views/admin/legislation/proposals/_proposals.html.erb
  app/views/debates/_votes.html.erb
  app/views/legislation/proposals/_votes.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  db/migrate/20190118115237_add_cached_votes_score_to_legislation_proposals.rb
  db/schema.rb
  lib/tasks/legislation_proposals.rake
  spec/features/admin/legislation/proposals_spec.rb
  spec/features/debates_spec.rb
  spec/features/legislation/proposals_spec.rb
  spec/features/votes_spec.rb
Labels: Improvement, Legislation, Rake, debates

#3292 [Backport] Delete Booth Shifts with associated data
  app/controllers/admin/poll/shifts_controller.rb
  app/models/poll/booth_assignment.rb
  app/models/poll/shift.rb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/poll/shifts_spec.rb
Labels: Bug, Polls

#3296 [Backport] Make budgets translatable
  app/controllers/admin/budget_groups_controller.rb
  app/controllers/admin/budget_headings_controller.rb
  app/controllers/admin/budget_phases_controller.rb
  app/controllers/admin/budgets_controller.rb
  app/controllers/valuation/budget_investments_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/budget_headings_helper.rb
  app/models/budget.rb
  app/models/budget/group.rb
  app/models/budget/group/translation.rb
  app/models/budget/heading.rb
  app/models/budget/heading/translation.rb
  app/models/budget/phase.rb
  app/models/budget/phase/translation.rb
  app/models/budget/translation.rb
  app/models/concerns/globalizable.rb
  app/models/milestone.rb
  app/models/progress_bar.rb
  app/views/admin/budget_groups/_form.html.erb
  app/views/admin/budget_headings/_form.html.erb
  app/views/admin/budget_phases/_form.html.erb
  app/views/admin/budgets/_form.html.erb
  app/views/budgets/ballot/_ballot.html.erb
  app/views/budgets/groups/show.html.erb
  app/views/budgets/index.html.erb
  config/initializers/routes_hierarchy.rb
  config/locales/en/general.yml
  config/locales/es/general.yml
  db/dev_seeds/budgets.rb
  db/migrate/20190118135741_add_budget_translations.rb
  db/migrate/20190119160418_add_budget_phase_translations.rb
  db/migrate/20190120155819_add_budget_group_translations.rb
  db/migrate/20190121171237_add_budget_heading_translations.rb
  db/schema.rb
  spec/features/admin/budget_groups_spec.rb
  spec/features/admin/budget_headings_spec.rb
  spec/features/admin/budget_phases_spec.rb
  spec/features/admin/budgets_spec.rb
  spec/features/budgets/budgets_spec.rb
  spec/features/budgets/groups_spec.rb
  spec/features/budgets/investments_spec.rb
  spec/models/budget/group_spec.rb
  spec/models/budget/heading_spec.rb
  spec/models/budget_spec.rb
  spec/shared/features/translatable.rb
  spec/support/common_actions/verifications.rb
Labels: Admin, Budget, Translations

#3148 Admin tables order - sorting [#2931]
  app/assets/stylesheets/admin.scss
  app/controllers/admin/budget_investments_controller.rb
  app/helpers/budget_investments_helper.rb
  app/models/budget/investment.rb
  app/views/admin/budget_investments/_investments.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/budget_investments_spec.rb
  spec/helpers/budget_investments_helper_spec.rb
Labels: Admin, Budget

#3307 [Backport] Return a String in I18n method 'pluralize'
  config/initializers/i18n_pluralize.rb
  config/initializers/inflections.rb
  spec/i18n_spec.rb
Labels: Bug

#3303 [Backport] Add a description for open polls
  app/controllers/admin/poll/active_polls_controller.rb
  app/controllers/polls_controller.rb
  app/helpers/admin_helper.rb
  app/helpers/application_helper.rb
  app/helpers/polls_helper.rb
  app/models/active_poll.rb
  app/views/admin/_menu.html.erb
  app/views/admin/poll/active_polls/_form.html.erb
  app/views/admin/poll/active_polls/edit.html.erb
  app/views/admin/poll/polls/index.html.erb
  app/views/polls/index.html.erb
  config/locales/en/admin.yml
  config/locales/en/responders.yml
  config/locales/es/admin.yml
  config/locales/es/responders.yml
  config/routes/admin.rb
  db/migrate/20190104160114_create_active_polls.rb
  db/migrate/20190104170114_add_active_polls_translations.rb
  db/schema.rb
  spec/factories/polls.rb
  spec/features/admin/poll/active_polls_spec.rb
  spec/features/polls/polls_spec.rb
  spec/shared/features/translatable.rb
Labels: Admin, Polls

#3323 [Backport] Fix UI details for a better UX and design
  app/controllers/admin/legislation/processes_controller.rb
  app/helpers/legislation_helper.rb
  app/models/legislation/process.rb
  app/views/admin/legislation/processes/_form.html.erb
  app/views/admin/legislation/processes/index.html.erb
  app/views/welcome/_card.html.erb
  app/views/welcome/_feeds.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/legislation/processes_spec.rb
Labels: Improvement, UX

#3326 [Backport] Show all system emails in Admin section
  app/assets/stylesheets/admin.scss
  app/controllers/admin/system_emails_controller.rb
  app/mailers/mailer.rb
  app/views/admin/system_emails/index.html.erb
  app/views/admin/system_emails/view.html.erb
  app/views/mailer/reply.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  lib/reply_email.rb
  spec/features/admin/system_emails_spec.rb
  spec/lib/reply_email_spec.rb
Labels: Admin

#3329 [Backport] Improve UX on admin section
  app/views/admin/_menu.html.erb
  app/views/admin/budgets/index.html.erb
  app/views/admin/poll/polls/booth_assignments.html.erb
  config/locales/en/admin.yml
  config/locales/en/general.yml
  config/locales/en/legislation.yml
  config/locales/es/general.yml
  config/locales/es/legislation.yml
  config/locales/es/pages.yml
  db/dev_seeds/legislation_processes.rb
  spec/features/admin/legislation/processes_spec.rb
  spec/features/admin/legislation/proposals_spec.rb
  spec/features/admin/poll/booth_assigments_spec.rb
Labels: Admin, Improvement, UX

#3328 Improve Admin settings section
  app/assets/stylesheets/layout.scss
  app/controllers/admin/settings_controller.rb
  app/controllers/proposals_controller.rb
  app/helpers/application_helper.rb
  app/models/setting.rb
  app/views/admin/settings/_banner_images.html.erb
  app/views/admin/settings/_banner_styles.html.erb
  app/views/admin/settings/_filter_subnav.html.erb
  app/views/admin/settings/index.html.erb
  app/views/layouts/_footer.html.erb
  app/views/proposals/share.html.erb
  app/views/shared/_top_links.html.erb
  config/locales/en/admin.yml
  config/locales/en/general.yml
  config/locales/en/settings.yml
  config/locales/es/admin.yml
  config/locales/es/general.yml
  config/locales/es/settings.yml
  config/routes.rb
  db/dev_seeds.rb
  db/dev_seeds/admin_notifications.rb
  db/dev_seeds/banners.rb
  db/dev_seeds/budgets.rb
  db/dev_seeds/comments.rb
  db/dev_seeds/debates.rb
  db/dev_seeds/geozones.rb
  db/dev_seeds/legislation_proposals.rb
  db/dev_seeds/milestones.rb
  db/dev_seeds/newsletters.rb
  db/dev_seeds/notifications.rb
  db/dev_seeds/polls.rb
  db/dev_seeds/proposals.rb
  db/dev_seeds/settings.rb
  db/dev_seeds/tags_categories.rb
  db/dev_seeds/users.rb
  db/dev_seeds/votes.rb
  db/dev_seeds/widgets.rb
  db/seeds.rb
  lib/tasks/banners.rake
  spec/features/proposals_spec.rb
  spec/models/setting_spec.rb
Labels: Admin, Improvement, UX
