Repository consuldemocracy/consuldemocracy, pull requests merged in 2019-03, with the labels that each got.

#3337 Generalize i18n texts
  app/views/admin/legislation/processes/_form.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/en/budgets.yml
  config/locales/en/legislation.yml
  config/locales/en/settings.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  config/locales/es/budgets.yml
  config/locales/es/legislation.yml
  config/locales/es/settings.yml
  spec/models/legislation/process_spec.rb
Labels: Improvement

#3155 Enable options to show stats and results with any type of voter
  app/views/admin/poll/results/index.html.erb
  spec/features/admin/poll/polls_spec.rb
Labels: Admin, Bug, Polls

#3340 [Backport] Show unfeasible budget investment messages only when valuation finished
  app/views/budgets/investments/_investment_show.html.erb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement

#3334 Improve UX on admin section
  app/assets/javascripts/banners.js.coffee
  app/assets/javascripts/forms.js.coffee
  app/assets/stylesheets/layout.scss
  app/helpers/admin_helper.rb
  app/helpers/banners_helper.rb
  app/views/admin/_menu.html.erb
  app/views/admin/banners/_form.html.erb
  app/views/admin/geozones/_form.html.erb
  app/views/admin/legislation/processes/_form.html.erb
  app/views/admin/officials/index.html.erb
  app/views/admin/poll/polls/_questions.html.erb
  app/views/admin/poll/questions/_form.html.erb
  app/views/admin/poll/questions/new.html.erb
  app/views/admin/proposals/show.html.erb
  app/views/shared/_banner.html.erb
  app/views/verification/letter/new.html.erb
  app/views/verification/letter/show.html.erb
  app/views/verification/residence/_errors.html.erb
  app/views/welcome/_feeds.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/en/general.yml
  config/locales/en/settings.yml
  config/locales/en/verification.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  config/locales/es/general.yml
  config/locales/es/settings.yml
  config/locales/es/verification.yml
  db/dev_seeds/settings.rb
  db/seeds.rb
  lib/tasks/settings.rake
  spec/features/admin/banners_spec.rb
  spec/features/admin/poll/polls_spec.rb
  spec/features/admin/poll/questions_spec.rb
  spec/features/admin/proposals_spec.rb
  spec/features/banners_spec.rb
  spec/features/proposals_spec.rb
  spec/features/verification/letter_spec.rb
  spec/lib/tasks/settings_spec.rb
Labels: Admin, Improvement, UX

#3366 [Backport] Fix accessibility and HTML warnings
  app/assets/stylesheets/layout.scss
  app/views/budgets/index.html.erb
  app/views/budgets/investments/_votes.html.erb
  app/views/debates/show.html.erb
  app/views/legislation/processes/_header.html.erb
  app/views/legislation/proposals/_featured_votes.html.erb
  app/views/legislation/proposals/_votes.html.erb
  app/views/legislation/proposals/show.html.erb
  app/views/polls/_poll_header.html.erb
  app/views/proposals/_featured_votes.html.erb
  app/views/proposals/_info.html.erb
  app/views/proposals/_social_share.html.erb
  app/views/proposals/share.html.erb
  app/views/shared/_search_form.html.erb
  app/views/shared/_social_share.html.erb
  app/views/users/_budget_investments.html.erb
  app/views/users/_comments.html.erb
  app/views/users/_debates.html.erb
  app/views/users/_proposals.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
Labels: Improvement, UX

#3353 [Backport] Default site customization pages
  app/assets/javascripts/ckeditor/config.js
  app/controllers/welcome_controller.rb
  app/views/pages/accessibility.html.erb
  app/views/pages/conditions.html.erb
  app/views/pages/help/faq/index.html.erb
  app/views/pages/privacy.html.erb
  app/views/welcome/welcome.html.erb
  config/i18n-tasks.yml
  config/locales/en/general.yml
  config/locales/en/pages.yml
  config/locales/es/general.yml
  config/locales/es/pages.yml
  config/routes.rb
  db/pages.rb
  db/pages/accessibility.rb
  db/pages/conditions.rb
  db/pages/faq.rb
  db/pages/privacy.rb
  db/pages/welcome_level_three_verified.rb
  db/pages/welcome_level_two_verified.rb
  db/pages/welcome_not_verified.rb
  db/seeds.rb
  lib/admin_wysiwyg_sanitizer.rb
  lib/tasks/db.rake
  spec/controllers/pages_controller_spec.rb
  spec/controllers/welcome_controller_spec.rb
  spec/features/admin/site_customization/pages_spec.rb
  spec/features/admin/widgets/cards_spec.rb
  spec/features/site_customization/custom_pages_spec.rb
  spec/features/welcome_spec.rb
  spec/lib/admin_wysiwyg_sanitizer_spec.rb
  spec/lib/tasks/db_spec.rb
Labels: Admin

#3367 Keep images uploaded with CKEditor when deploying
  config/deploy.rb
Labels: Tech

#3341 Improvements about displaying results for voted polls
  app/views/admin/poll/results/index.html.erb
  spec/factories/polls.rb
  spec/features/admin/poll/polls_spec.rb
Labels: Admin, Polls

#3362 Change single quotes to double quotes for models
  app/models/abilities/valuator.rb
  app/models/activity.rb
  app/models/budget.rb
  app/models/budget/investment.rb
  app/models/budget/investment/exporter.rb
  app/models/budget/phase.rb
  app/models/ckeditor/picture.rb
  app/models/comment.rb
  app/models/concerns/filterable.rb
  app/models/concerns/graphqlable.rb
  app/models/concerns/mappable.rb
  app/models/concerns/measurable.rb
  app/models/concerns/searchable.rb
  app/models/custom/verification/residence.rb
  app/models/debate.rb
  app/models/direct_message.rb
  app/models/failed_census_call.rb
  app/models/flag.rb
  app/models/geozone.rb
  app/models/i18n_content.rb
  app/models/legislation.rb
  app/models/legislation/annotation.rb
  app/models/legislation/answer.rb
  app/models/legislation/draft_version.rb
  app/models/legislation/process.rb
  app/models/legislation/proposal.rb
  app/models/legislation/question.rb
  app/models/legislation/question_option.rb
  app/models/officing/residence.rb
  app/models/organization.rb
  app/models/poll.rb
  app/models/poll/answer.rb
  app/models/poll/partial_result.rb
  app/models/poll/question.rb
  app/models/poll/question/answer.rb
  app/models/poll/question/answer/video.rb
  app/models/poll/recount.rb
  app/models/poll/shift.rb
  app/models/poll/stats.rb
  app/models/poll/voter.rb
  app/models/proposal.rb
  app/models/proposal_notification.rb
  app/models/related_content.rb
  app/models/setting.rb
  app/models/signature.rb
  app/models/signature_sheet.rb
  app/models/site_customization.rb
  app/models/spending_proposal.rb
  app/models/tag_cloud.rb
  app/models/topic.rb
  app/models/user.rb
  app/models/valuator.rb
  app/models/valuator_group.rb
  app/models/verification/letter.rb
  app/models/verification/management/email.rb
  app/models/verification/management/managed_user.rb
  app/models/verification/residence.rb
Labels: Tech

#3387 Improve Admin settings section
  app/assets/javascripts/application.js
  app/assets/javascripts/settings.js.coffee
  app/controllers/admin/settings_controller.rb
  app/controllers/admin/site_customization/content_blocks_controller.rb
  app/controllers/concerns/feature_flags.rb
  app/controllers/users_controller.rb
  app/helpers/feeds_helper.rb
  app/helpers/map_locations_helper.rb
  app/helpers/settings_helper.rb
  app/models/setting.rb
  app/models/widget/feed.rb
  app/views/admin/settings/_configuration_settings_tab.html.erb
  app/views/admin/settings/_featured_settings_table.html.erb
  app/views/admin/settings/_features_tab.html.erb
  app/views/admin/settings/_filter_subnav.html.erb
  app/views/admin/settings/_map_configuration_tab.html.erb
  app/views/admin/settings/_map_form.html.erb
  app/views/admin/settings/_participation_processes_tab.html.erb
  app/views/admin/settings/_settings_table.html.erb
  app/views/admin/settings/index.html.erb
  app/views/admin/site_customization/content_blocks/index.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/devise.html.erb
  app/views/management/_menu.html.erb
  config/locales/en/admin.yml
  config/locales/en/settings.yml
  config/locales/es/admin.yml
  config/locales/es/settings.yml
  db/dev_seeds/budgets.rb
  db/dev_seeds/settings.rb
  db/seeds.rb
  lib/tasks/settings.rake
  spec/features/admin/budget_groups_spec.rb
  spec/features/admin/budget_headings_spec.rb
  spec/features/admin/budget_investments_spec.rb
  spec/features/admin/budgets_spec.rb
  spec/features/admin/debates_spec.rb
  spec/features/admin/feature_flags_spec.rb
  spec/features/admin/hidden_budget_investments_spec.rb
  spec/features/admin/hidden_proposals_spec.rb
  spec/features/admin/homepage/homepage_spec.rb
  spec/features/admin/legislation/draft_versions_spec.rb
  spec/features/admin/legislation/processes_spec.rb
  spec/features/admin/legislation/questions_spec.rb
  spec/features/admin/settings_spec.rb
  spec/features/comments/budget_investments_valuation_spec.rb
  spec/features/debates_spec.rb
  spec/features/emails_spec.rb
  spec/features/moderation/budget_investments_spec.rb
  spec/features/moderation/debates_spec.rb
  spec/features/moderation/proposals_spec.rb
  spec/features/proposals_spec.rb
  spec/features/users_spec.rb
  spec/features/valuation/budget_investments_spec.rb
  spec/features/valuation/budgets_spec.rb
  spec/lib/tasks/settings_spec.rb
  spec/models/setting_spec.rb
Labels: Admin, Improvement, UX

#3384 Simplify poll factories
  spec/factories/polls.rb
  spec/features/admin/poll/polls_spec.rb
  spec/models/poll/poll_spec.rb
  spec/models/poll/stats_spec.rb
  spec/models/poll/voter_spec.rb
Labels: Backport

#3379 Add ERB Lint configuration file
  .erb-lint.yml
  .hound.yml
  Gemfile
  Gemfile.lock
Labels: Backport

#3380 Enable rubocop rules in config and seed files
  .rubocop_basic.yml
Labels: Backport

#3396 Add rake to move external_url to description
  lib/tasks/proposals.rake
  spec/lib/tasks/proposals_spec.rb
Labels: Citizen proposals, Improvement, Legislation, Release notes

#3399 Use min age to participate setting on verification residence form
  app/helpers/verification_helper.rb
  app/views/verification/residence/new.html.erb
  spec/features/verification/residence_spec.rb
Labels: Improvement, Verification

#3385 Require logged in user if navigate to /welcome
  app/controllers/welcome_controller.rb
  spec/features/welcome_spec.rb
Labels: Bug

#3388 Refactor dashboard views
  app/assets/fonts/quote-after.svg
  app/assets/fonts/quote-before.svg
  app/assets/images/decide_madrid.png
  app/assets/images/quote_after_blue.png
  app/assets/images/quote_after_white.png
  app/assets/images/quote_before_blue.png
  app/assets/images/quote_before_white.png
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/icons.scss
  app/models/dashboard/action.rb
  app/views/admin/dashboard/actions/_form.html.erb
  app/views/admin/dashboard/actions/index.html.erb
  app/views/dashboard/_proposed_action.html.erb
  app/views/dashboard/mailer/forward.html.erb
  app/views/dashboard/mailing/index.html.erb
  app/views/dashboard/poster/index.html.erb
  app/views/dashboard/poster/index.pdf.erb
  app/views/layouts/dashboard/_proposal_totals.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/features/dashboard/dashboard_spec.rb
  spec/models/dashboard/action_spec.rb
Labels: Citizen proposals

#3407 Update texts on check my ballot links
  app/assets/stylesheets/participation.scss
  app/views/budgets/ballot/_ballot.html.erb
  app/views/budgets/investments/_sidebar.html.erb
  config/locales/en/budgets.yml
  config/locales/es/budgets.yml
  spec/features/budgets/ballots_spec.rb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement, UX
