Repository consuldemocracy/consuldemocracy, pull requests merged in 2019-01, with the labels that each got.

#3136 [Backport] Show documents on processes proposals phase
  app/views/legislation/processes/proposals.html.erb
  spec/features/legislation/processes_spec.rb
Labels: Improvement, Legislation

#3137 [Backport] Processes key dates
  app/assets/stylesheets/legislation_process.scss
  app/models/legislation/process.rb
  app/views/admin/legislation/homepages/_form.html.erb
  app/views/legislation/processes/_key_dates.html.erb
  config/locales/en/legislation.yml
  config/locales/es-AR/legislation.yml
  config/locales/es-BO/legislation.yml
  config/locales/es-CL/legislation.yml
  config/locales/es-CO/legislation.yml
  config/locales/es-CR/legislation.yml
  config/locales/es-DO/legislation.yml
  config/locales/es-EC/legislation.yml
  config/locales/es-GT/legislation.yml
  config/locales/es-HN/legislation.yml
  config/locales/es-MX/legislation.yml
  config/locales/es-NI/legislation.yml
  config/locales/es-PA/legislation.yml
  config/locales/es-PE/legislation.yml
  config/locales/es-PR/legislation.yml
  config/locales/es-PY/legislation.yml
  config/locales/es-SV/legislation.yml
  config/locales/es-UY/legislation.yml
  config/locales/es-VE/legislation.yml
  config/locales/es/legislation.yml
  spec/factories/legislations.rb
  spec/features/legislation/processes_spec.rb
Labels: Improvement, Legislation

#3165 [Backport] Enable line length rubocop rule
  .rubocop.yml
  .rubocop_basic.yml
Labels: Improvement

#3150 [Backport] new CRUD budgets, content blocks and heading map
  app/assets/javascripts/map.js.coffee
  app/assets/stylesheets/layout.scss
  app/controllers/admin/budget_headings_controller.rb
  app/controllers/admin/site_customization/content_blocks_controller.rb
  app/controllers/budgets/ballot/lines_controller.rb
  app/controllers/budgets/investments_controller.rb
  app/helpers/content_blocks_helper.rb
  app/models/map_location.rb
  app/views/admin/budget_groups/edit.html.erb
  app/views/admin/budget_headings/_form.html.erb
  app/views/admin/budget_headings/edit.html.erb
  app/views/budgets/investments/_map.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  lib/migrate_spending_proposals_to_investments.rb
  spec/features/admin/budget_groups_spec.rb
  spec/features/admin/budget_headings_spec.rb
  spec/features/budgets/investments_spec.rb
  spec/features/tags/budget_investments_spec.rb
  spec/models/budget/content_block_spec.rb
  spec/models/budget/heading_spec.rb
Labels: Admin, UX

#3160 [Backport] Remove semicolons from controllers
  app/controllers/admin/budget_phases_controller.rb
  app/controllers/graphql_controller.rb
Labels: Refactoring

#3154 [Backport] checks for deleted proposals
  app/views/admin/stats/proposal_notifications.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/stats_spec.rb
Labels: Admin, Bug

#3188 [Backport] Legislation process homepage phase
  app/models/legislation/process.rb
  app/views/legislation/processes/_header.html.erb
  app/views/legislation/processes/_key_dates.html.erb
  app/views/legislation/processes/show.html.erb
  config/locales/en/legislation.yml
  config/locales/es/legislation.yml
  spec/features/legislation/processes_spec.rb
Labels: Backport, Improvement, Legislation

#3198 [Backport] Update budgets confirm group es translation
  config/locales/es/budgets.yml
Labels: Budget, Improvement

#3203 [Backport] Show current phase as selected on phase select on admin budgets form
  app/views/admin/budgets/_form.html.erb
  spec/features/admin/budgets_spec.rb
Labels: Admin, Budget, Improvement

#3195 [Backport] Manage milestone progress bars
  app/assets/javascripts/forms.js.coffee
  app/assets/stylesheets/admin.scss
  app/controllers/admin/budget_investment_progress_bars_controller.rb
  app/controllers/admin/legislation/progress_bars_controller.rb
  app/controllers/admin/progress_bars_controller.rb
  app/controllers/admin/proposal_progress_bars_controller.rb
  app/models/concerns/milestoneable.rb
  app/models/progress_bar.rb
  app/models/progress_bar/translation.rb
  app/views/admin/legislation/progress_bars/index.html.erb
  app/views/admin/milestones/_milestones.html.erb
  app/views/admin/progress_bars/_form.html.erb
  app/views/admin/progress_bars/_progress_bars.html.erb
  app/views/admin/progress_bars/edit.html.erb
  app/views/admin/progress_bars/index.html.erb
  app/views/admin/progress_bars/new.html.erb
  config/initializers/foundation_rails_helper.rb
  config/initializers/routes_hierarchy.rb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  db/migrate/20190103132925_create_progress_bars.rb
  db/schema.rb
  spec/factories/budgets.rb
  spec/factories/milestones.rb
  spec/models/progress_bar_spec.rb
  spec/shared/features/admin_milestoneable.rb
  spec/shared/features/progressable.rb
Labels: Admin, Budget, Citizen proposals, Improvement, Legislation

#3196 [Backport] Refactor milestones css
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/milestones.scss
  app/assets/stylesheets/participation.scss
Labels: Improvement

#3197 [Backport] Add progress bar dev seeds
  db/dev_seeds.rb
  db/dev_seeds/milestones.rb
Labels: Improvement

#3229 [Backport] Hide polls results and stats to admins
  app/helpers/polls_helper.rb
  app/views/polls/_poll_subnav.html.erb
  spec/features/polls/polls_spec.rb
Labels: Budget

#3230 [Backport] Allow change map image from admin
  app/assets/images/map.jpg
  app/models/site_customization/image.rb
  app/views/admin/site_customization/images/index.html.erb
  app/views/proposals/_geozones.html.erb
  spec/features/admin/site_customization/images_spec.rb
  spec/fixtures/files/custom_map.jpg
Labels: Admin, Improvement

#3228 [Backport] Add progress bars to milestones public view
  app/assets/javascripts/forms.js.coffee
  app/assets/stylesheets/legislation_process.scss
  app/assets/stylesheets/milestones.scss
  app/helpers/milestones_helper.rb
  app/models/concerns/milestoneable.rb
  app/views/admin/shared/_common_globalize_locales.html.erb
  app/views/admin/shared/_globalize_tabs.html.erb
  app/views/legislation/processes/_key_dates.html.erb
  app/views/milestones/_milestones_content.html.erb
  app/views/milestones/_progress_bars.html.erb
  config/locales/en/milestones.yml
  config/locales/es/milestones.yml
  spec/features/legislation/processes_spec.rb
  spec/shared/features/admin_milestoneable.rb
  spec/shared/features/admin_progressable.rb
  spec/shared/features/milestoneable.rb
  spec/shared/features/progressable.rb
Labels: Budget, Citizen proposals, Improvement, Legislation

#3149 Add cards to custom pages
  app/assets/stylesheets/layout.scss
  app/controllers/admin/site_customization/cards_controller.rb
  app/controllers/admin/widget/cards_controller.rb
  app/controllers/pages_controller.rb
  app/helpers/admin_helper.rb
  app/models/site_customization/page.rb
  app/models/widget/card.rb
  app/views/admin/_menu.html.erb
  app/views/admin/site_customization/cards/_card.html.erb
  app/views/admin/site_customization/cards/_cards.html.erb
  app/views/admin/site_customization/cards/index.html.erb
  app/views/admin/site_customization/pages/index.html.erb
  app/views/admin/widget/cards/_form.html.erb
  app/views/pages/_card.html.erb
  app/views/pages/_cards.html.erb
  app/views/pages/custom_page.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  db/migrate/20181218164126_add_site_customization_page_to_widget_cards.rb
  db/schema.rb
  spec/features/admin/widgets/cards_spec.rb
  spec/features/site_customization/custom_pages_spec.rb
  spec/models/widget/card_spec.rb
Labels: Admin, Improvement

#3202 Sort Legislation Processes by descending start date
  app/controllers/admin/legislation/processes_controller.rb
  app/controllers/legislation/processes_controller.rb
  app/models/legislation/process.rb
  spec/features/admin/legislation/processes_spec.rb
  spec/features/legislation/processes_spec.rb
Labels: Legislation

#3250 [Backport] Improve UI of budgets index page
  app/helpers/budgets_helper.rb
  app/views/budgets/index.html.erb
  app/views/budgets/investments/index.html.erb
  spec/features/budgets/budgets_spec.rb
  spec/features/budgets/investments_spec.rb
Labels: Budget, Improvement

#3249 Refactor processes header colors and custom pages
  app/helpers/admin_helper.rb
  app/helpers/legislation_helper.rb
  app/models/legislation/process.rb
  app/models/site_customization/page.rb
  app/models/widget/card.rb
  app/views/admin/legislation/processes/_form.html.erb
  app/views/legislation/processes/_header.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/features/admin/legislation/processes_spec.rb
  spec/helpers/legislation_helper_spec.rb
  spec/models/legislation/process_spec.rb
Labels: Improvement, Legislation
