Repository consuldemocracy/consuldemocracy, pull requests merged in 2020-12, with the labels that each got.

#4274 Simplify code in the admin menu
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/admin/menu.scss
  app/components/admin/menu_component.html.erb
  app/components/admin/menu_component.rb
  app/components/application_component.rb
  app/helpers/admin_helper.rb
  app/views/layouts/admin.html.erb
  app/views/management/_menu.html.erb
  app/views/moderation/_menu.html.erb
  app/views/officing/_menu.html.erb
  app/views/valuation/_menu.html.erb
Labels: Refactoring

#4234 Remove unused deployment configuration variables
  config/deploy-secrets.yml.example
  config/deploy.rb
Labels: Maintenance

#4252 Add Sustainable Development Goals section
  app/assets/stylesheets/admin/menu.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/sdg_management/menu.scss
  app/components/sdg_management/goals/index_component.html.erb
  app/components/sdg_management/goals/index_component.rb
  app/components/sdg_management/header.rb
  app/components/sdg_management/menu_component.html.erb
  app/components/sdg_management/menu_component.rb
  app/controllers/sdg_management/base_controller.rb
  app/controllers/sdg_management/goals_controller.rb
  app/helpers/admin_helper.rb
  app/models/sdg.rb
  app/models/sdg/goal.rb
  app/views/layouts/admin.html.erb
  app/views/sdg_management/goals/index.html.erb
  app/views/shared/_admin_login_items.html.erb
  config/i18n-tasks.yml
  config/initializers/inflections.rb
  config/locales/en/activerecord.yml
  config/locales/en/sdg.yml
  config/locales/en/sdg_management.yml
  config/locales/es/activerecord.yml
  config/locales/es/sdg.yml
  config/locales/es/sdg_management.yml
  config/routes.rb
  config/routes/sdg_management.rb
  db/dev_seeds.rb
  db/dev_seeds/sdg.rb
  db/migrate/20201111095452_create_sdg_goals.rb
  db/schema.rb
  db/sdg.rb
  db/seeds.rb
  lib/tasks/consul.rake
  lib/tasks/db.rake
  spec/factories/sdg.rb
  spec/lib/tasks/load_sdg_spec.rb
  spec/models/sdg/goal_spec.rb
  spec/system/sdg_management/goals_spec.rb
  vendor/assets/images/sdg.svg
Labels: SDG

#4247 Add SDG settings
  app/controllers/admin/settings_controller.rb
  app/models/setting.rb
  app/views/admin/settings/_filter_subnav.html.erb
  app/views/admin/settings/_sdg_configuration_tab.html.erb
  app/views/admin/settings/index.html.erb
  config/locales/en/admin.yml
  config/locales/en/settings.yml
  config/locales/es/admin.yml
  config/locales/es/settings.yml
  db/dev_seeds/settings.rb
  spec/models/setting_spec.rb
  spec/system/admin/settings_spec.rb
Labels: SDG

#4251 Add global SDG feature setting
  app/controllers/sdg_management/base_controller.rb
  app/models/setting.rb
  app/views/admin/settings/_sdg_configuration_tab.html.erb
  app/views/shared/_admin_login_items.html.erb
  config/locales/en/admin.yml
  config/locales/en/settings.yml
  config/locales/es/admin.yml
  config/locales/es/settings.yml
  db/dev_seeds/settings.rb
  spec/system/admin/settings_spec.rb
  spec/system/sdg_management/goals_spec.rb
  spec/system/sdg_management/sdg_spec.rb
Labels: SDG

#4260 Add SDG targets
  app/components/sdg_management/goals/index_component.html.erb
  app/components/sdg_management/menu_component.rb
  app/components/sdg_management/subnavigation_component.html.erb
  app/components/sdg_management/subnavigation_component.rb
  app/components/sdg_management/targets/index_component.html.erb
  app/components/sdg_management/targets/index_component.rb
  app/controllers/sdg_management/targets_controller.rb
  app/models/sdg/goal.rb
  app/models/sdg/target.rb
  app/views/sdg_management/targets/index.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/sdg.yml
  config/locales/es/activerecord.yml
  config/locales/es/sdg.yml
  config/routes/sdg_management.rb
  db/migrate/20201112155047_create_sdg_targets.rb
  db/schema.rb
  db/sdg.rb
  spec/components/sdg_management/subnavigation_component_spec.rb
  spec/factories/sdg.rb
  spec/lib/tasks/load_sdg_spec.rb
  spec/models/sdg/target_spec.rb
  spec/system/sdg_management/targets_spec.rb
Labels: SDG

#4262 Add SDG relations
  app/models/budget/investment.rb
  app/models/concerns/sdg/relatable.rb
  app/models/concerns/sdg/related.rb
  app/models/debate.rb
  app/models/legislation/process.rb
  app/models/poll.rb
  app/models/proposal.rb
  app/models/sdg/goal.rb
  app/models/sdg/relation.rb
  app/models/sdg/target.rb
  db/migrate/20201117200945_create_sdg_relations.rb
  db/schema.rb
  spec/models/sdg/relatable_spec.rb
  spec/models/sdg/related_spec.rb
  spec/models/sdg/relation_spec.rb
Labels: SDG

#4277 Refactor admin search forms
  app/assets/stylesheets/admin/search.css
  app/components/admin/search_component.html.erb
  app/components/admin/search_component.rb
  app/controllers/admin/administrators_controller.rb
  app/controllers/admin/managers_controller.rb
  app/controllers/admin/moderators_controller.rb
  app/controllers/admin/officials_controller.rb
  app/controllers/admin/organizations_controller.rb
  app/controllers/admin/poll/officers_controller.rb
  app/controllers/admin/poll/questions_controller.rb
  app/controllers/admin/valuators_controller.rb
  app/controllers/admin/verifications_controller.rb
  app/controllers/moderation/users_controller.rb
  app/views/admin/debates/index.html.erb
  app/views/admin/local_census_records/index.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/search.html.erb
  app/views/admin/poll/booth_assignments/_search_booths.html.erb
  app/views/admin/poll/booths/index.html.erb
  app/views/admin/poll/officer_assignments/_search_officers.html.erb
  app/views/admin/poll/officers/_search.html.erb
  app/views/admin/poll/officers/index.html.erb
  app/views/admin/poll/questions/_search.html.erb
  app/views/admin/poll/questions/index.html.erb
  app/views/admin/proposals/index.html.erb
  app/views/admin/shared/_booth_search.html.erb
  app/views/admin/shared/_debate_search.html.erb
  app/views/admin/shared/_proposal_search.html.erb
  app/views/admin/shared/_user_search.html.erb
  app/views/admin/users/index.html.erb
  app/views/management/proposals/index.html.erb
  app/views/moderation/users/index.html.erb
  config/locales/en/admin.yml
  config/locales/en/moderation.yml
  config/locales/es/admin.yml
  config/locales/es/moderation.yml
  spec/controllers/moderation/users_controller_spec.rb
  spec/system/admin/activity_spec.rb
  spec/system/admin/administrators_spec.rb
  spec/system/admin/managers_spec.rb
  spec/system/admin/moderators_spec.rb
  spec/system/admin/officials_spec.rb
  spec/system/admin/organizations_spec.rb
  spec/system/admin/poll/officers_spec.rb
  spec/system/admin/valuators_spec.rb
  spec/system/admin/verifications_spec.rb
  spec/system/moderation/users_spec.rb
Labels: Refactoring

#4279 Simplify generating lists of links
  app/assets/stylesheets/admin/menu.scss
  app/components/admin/menu_component.html.erb
  app/components/admin/menu_component.rb
  app/components/sdg_management/menu_component.html.erb
  app/components/sdg_management/menu_component.rb
  app/helpers/link_list_helper.rb
  app/views/admin/poll/_menu.html.erb
  app/views/admin/widget/_menu.html.erb
  app/views/management/_menu.html.erb
  app/views/moderation/_menu.html.erb
  app/views/pages/help/_menu.html.erb
  app/views/valuation/_menu.html.erb
  spec/helpers/link_list_helper_spec.rb
Labels: Refactoring

#4264 Cache I18nContent translations
  app/models/i18n_content.rb
  config/initializers/i18n_translation.rb
  spec/models/i18n_content_spec.rb
Labels: Translations

#4271 Add SDG local targets
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/mixins.scss
  app/components/sdg_management/header.rb
  app/components/sdg_management/local_targets/form_component.html.erb
  app/components/sdg_management/local_targets/form_component.rb
  app/components/sdg_management/local_targets/index_component.html.erb
  app/components/sdg_management/local_targets/index_component.rb
  app/components/sdg_management/menu_component.rb
  app/components/sdg_management/subnavigation_component.rb
  app/controllers/sdg_management/local_targets_controller.rb
  app/models/concerns/sdg/relatable.rb
  app/models/sdg/local_target.rb
  app/models/sdg/target.rb
  app/views/sdg_management/local_targets/edit.html.erb
  app/views/sdg_management/local_targets/index.html.erb
  app/views/sdg_management/local_targets/new.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/general.yml
  config/locales/en/sdg_management.yml
  config/locales/es/activerecord.yml
  config/locales/es/general.yml
  config/locales/es/sdg_management.yml
  config/routes/sdg_management.rb
  db/dev_seeds/sdg.rb
  db/migrate/20201123124006_create_sdg_local_targets.rb
  db/schema.rb
  spec/factories/sdg.rb
  spec/models/sdg/local_target_spec.rb
  spec/models/sdg/relatable_spec.rb
  spec/system/sdg_management/local_targets_spec.rb
Labels: SDG

#4272 Add SDG manager role
  app/assets/stylesheets/admin.scss
  app/components/admin/menu_component.html.erb
  app/components/admin/menu_component.rb
  app/components/admin/sdg/managers/index_component.html.erb
  app/components/admin/sdg/managers/index_component.rb
  app/components/concerns/header.rb
  app/components/sdg_management/goals/index_component.rb
  app/components/sdg_management/local_targets/form_component.rb
  app/components/sdg_management/local_targets/index_component.rb
  app/components/sdg_management/targets/index_component.rb
  app/controllers/admin/administrators_controller.rb
  app/controllers/admin/managers_controller.rb
  app/controllers/admin/moderators_controller.rb
  app/controllers/admin/sdg/managers_controller.rb
  app/controllers/admin/valuators_controller.rb
  app/controllers/sdg_management/base_controller.rb
  app/controllers/sdg_management/goals_controller.rb
  app/controllers/sdg_management/targets_controller.rb
  app/helpers/users_helper.rb
  app/models/abilities/administrator.rb
  app/models/abilities/sdg/manager.rb
  app/models/ability.rb
  app/models/sdg/manager.rb
  app/models/user.rb
  app/views/admin/administrators/index.html.erb
  app/views/admin/administrators/search.html.erb
  app/views/admin/managers/index.html.erb
  app/views/admin/managers/search.html.erb
  app/views/admin/moderators/index.html.erb
  app/views/admin/moderators/search.html.erb
  app/views/admin/sdg/managers/index.html.erb
  app/views/shared/_admin_login_items.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  db/dev_seeds/users.rb
  db/migrate/20201124145559_create_sdg_manager.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/abilities/administrator_spec.rb
  spec/models/abilities/common_spec.rb
  spec/models/abilities/everyone_spec.rb
  spec/models/abilities/moderator_spec.rb
  spec/models/abilities/organization_spec.rb
  spec/models/abilities/sdg/manager.rb
  spec/models/abilities/valuator_spec.rb
  spec/models/user_spec.rb
  spec/system/admin/sdg/managers_spec.rb
  spec/system/admin_spec.rb
  spec/system/moderation_spec.rb
  spec/system/officing_spec.rb
  spec/system/sdg_management/goals_spec.rb
  spec/system/sdg_management_spec.rb
  spec/system/valuation_spec.rb
Labels: SDG

#4281 Make tests independent of the organization name
  spec/lib/email_digests_spec.rb
  spec/lib/tasks/dashboards_spec.rb
  spec/mailers/dashboard/mailer_spec.rb
  spec/shared/system/mappable.rb
  spec/system/admin/system_emails_spec.rb
  spec/system/emails_spec.rb
  spec/system/help_page_spec.rb
  spec/system/legislation/draft_versions_spec.rb
  spec/system/notifications_spec.rb
  spec/system/proposals_spec.rb
Labels: Specs

#4291 SDG translation interface by default
  app/helpers/translatable_form_helper.rb
  spec/system/sdg_management/local_targets_spec.rb
Labels: SDG

#4269 Add SDG content management section
  app/assets/stylesheets/admin/menu.scss
  app/assets/stylesheets/admin/search.css
  app/components/admin/search_component.html.erb
  app/components/sdg_management/menu_component.html.erb
  app/components/sdg_management/menu_component.rb
  app/components/sdg_management/relations/edit_component.html.erb
  app/components/sdg_management/relations/edit_component.rb
  app/components/sdg_management/relations/index_component.html.erb
  app/components/sdg_management/relations/index_component.rb
  app/components/sdg_management/targets/index_component.html.erb
  app/controllers/sdg_management/relations_controller.rb
  app/models/concerns/sdg/relatable.rb
  app/models/legislation/process.rb
  app/models/poll.rb
  app/models/sdg/goal.rb
  app/views/admin/debates/index.html.erb
  app/views/admin/local_census_records/index.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/search.html.erb
  app/views/admin/poll/booth_assignments/_search_booths.html.erb
  app/views/admin/poll/booths/index.html.erb
  app/views/admin/poll/officer_assignments/_search_officers.html.erb
  app/views/admin/poll/questions/_search.html.erb
  app/views/admin/proposals/index.html.erb
  app/views/admin/shared/_user_search.html.erb
  app/views/management/proposals/index.html.erb
  app/views/sdg_management/relations/edit.html.erb
  app/views/sdg_management/relations/index.html.erb
  config/locales/en/activerecord.yml
  config/locales/en/admin.yml
  config/locales/en/sdg_management.yml
  config/locales/es/activerecord.yml
  config/locales/es/admin.yml
  config/locales/es/sdg_management.yml
  config/routes/sdg_management.rb
  db/migrate/20201216132234_add_tsv_to_polls.rb
  db/migrate/20201216132642_add_tsv_to_legislation_processes.rb
  db/schema.rb
  lib/tasks/consul.rake
  lib/tasks/db.rake
  spec/components/sdg_management/menu_component_spec.rb
  spec/controllers/sdg_management/relations_spec.rb
  spec/lib/tasks/db_spec.rb
  spec/models/legislation/process_spec.rb
  spec/models/poll/poll_spec.rb
  spec/models/sdg/relatable_spec.rb
  spec/routing/sdg_management_routes_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4293 Fix extension in admin search stylesheet
  app/assets/stylesheets/admin/search.scss
Labels: Bug

#4295 Avoid conflict between SDG::Manager classes
  app/models/abilities/sdg/manager.rb
Labels: Bug, SDG

#4296 Allow SDG managers to manage SDG local targets records
  app/controllers/sdg_management/local_targets_controller.rb
  app/models/abilities/sdg/manager.rb
  spec/models/abilities/sdg/manager.rb
Labels: SDG

#4299 Fix advanced search filter button position
  app/assets/stylesheets/layout.scss
Labels: Bug, UX

#4292 Add SDG view with related content
  app/assets/stylesheets/_consul_settings.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/sdg/goals/show.scss
  app/assets/stylesheets/widgets/feeds/feed.scss
  app/assets/stylesheets/widgets/feeds/participation.scss
  app/assets/stylesheets/widgets/feeds/proposal.scss
  app/components/sdg/goals/index_component.html.erb
  app/components/sdg/goals/index_component.rb
  app/components/sdg/goals/show_component.html.erb
  app/components/sdg/goals/show_component.rb
  app/components/widgets/feeds/debate_component.html.erb
  app/components/widgets/feeds/debate_component.rb
  app/components/widgets/feeds/feed_component.html.erb
  app/components/widgets/feeds/feed_component.rb
  app/components/widgets/feeds/participation_component.html.erb
  app/components/widgets/feeds/participation_component.rb
  app/components/widgets/feeds/process_component.html.erb
  app/components/widgets/feeds/process_component.rb
  app/components/widgets/feeds/proposal_component.html.erb
  app/components/widgets/feeds/proposal_component.rb
  app/controllers/sdg/goals_controller.rb
  app/helpers/feeds_helper.rb
  app/helpers/layouts_helper.rb
  app/models/abilities/everyone.rb
  app/models/abilities/sdg/manager.rb
  app/models/concerns/filterable.rb
  app/models/sdg/widget/feed.rb
  app/views/sdg/goals/index.html.erb
  app/views/sdg/goals/show.html.erb
  app/views/shared/_subnavigation.html.erb
  app/views/welcome/_feeds.html.erb
  app/views/welcome/_processes.html.erb
  app/views/welcome/index.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  config/routes.rb
  config/routes/sdg.rb
  db/sdg.rb
  spec/components/widgets/feeds/feed_component_spec.rb
  spec/controllers/sdg/goals_spec.rb
  spec/models/abilities/administrator_spec.rb
  spec/models/abilities/common_spec.rb
  spec/models/abilities/everyone_spec.rb
  spec/models/abilities/moderator_spec.rb
  spec/models/abilities/organization_spec.rb
  spec/models/abilities/sdg/manager.rb
  spec/models/abilities/valuator_spec.rb
  spec/routing/sdg_routes_spec.rb
  spec/system/admin/homepage/homepage_spec.rb
  spec/system/sdg/goals_spec.rb
Labels: SDG

#4298 Style SDG headers following UN guidelines
  app/assets/stylesheets/fonts.scss
  app/assets/stylesheets/sdg/goals/show.scss
  app/components/sdg/goals/show_component.html.erb
  app/components/sdg/goals/show_component.rb
  app/models/sdg/goal.rb
  config/locales/en/sdg.yml
  config/locales/es/sdg.yml
  spec/system/sdg/goals_spec.rb
  vendor/assets/fonts/oswald/OFL.txt
  vendor/assets/fonts/oswald/oswald-bold.ttf
  vendor/assets/fonts/oswald/oswald-light.ttf
  vendor/assets/fonts/oswald/oswald-medium.ttf
  vendor/assets/fonts/oswald/oswald-regular.ttf
  vendor/assets/images/sdg/goal_10_icon_only.svg
  vendor/assets/images/sdg/goal_11_icon_only.svg
  vendor/assets/images/sdg/goal_12_icon_only.svg
  vendor/assets/images/sdg/goal_13_icon_only.svg
  vendor/assets/images/sdg/goal_14_icon_only.svg
  vendor/assets/images/sdg/goal_15_icon_only.svg
  vendor/assets/images/sdg/goal_16_icon_only.svg
  vendor/assets/images/sdg/goal_17_icon_only.svg
  vendor/assets/images/sdg/goal_1_icon_only.svg
  vendor/assets/images/sdg/goal_2_icon_only.svg
  vendor/assets/images/sdg/goal_3_icon_only.svg
  vendor/assets/images/sdg/goal_4_icon_only.svg
  vendor/assets/images/sdg/goal_5_icon_only.svg
  vendor/assets/images/sdg/goal_6_icon_only.svg
  vendor/assets/images/sdg/goal_7_icon_only.svg
  vendor/assets/images/sdg/goal_8_icon_only.svg
  vendor/assets/images/sdg/goal_9_icon_only.svg
Labels: SDG, UX
