Repository consuldemocracy/consuldemocracy, pull requests merged in 2021-02, with the labels that each got.

#4343 Fix tags and SDG "tags" on legislation proposals
  app/helpers/tags_helper.rb
  app/models/sdg/process_enabled.rb
  app/views/shared/_tags.html.erb
  spec/models/sdg/process_enabled_spec.rb
  spec/system/legislation/proposals_spec.rb
Labels: Bug, Legislation, SDG

#4345 Refactor tags and SDG "tags" rendering
  app/assets/stylesheets/participation.scss
  app/assets/stylesheets/sdg/goals/tag_cloud.scss
  app/components/concerns/sdg/tag_list.rb
  app/components/sdg/filter_links_component.html.erb
  app/components/sdg/filter_links_component.rb
  app/components/sdg/goals/filter_links_component.html.erb
  app/components/sdg/goals/plain_tag_list_component.rb
  app/components/sdg/goals/tag_cloud_component.html.erb
  app/components/sdg/goals/tag_cloud_component.rb
  app/components/sdg/goals/tag_list_component.html.erb
  app/components/sdg/goals/tag_list_component.rb
  app/components/sdg/tag_component.html.erb
  app/components/sdg/tag_component.rb
  app/components/sdg/targets/plain_tag_list_component.rb
  app/components/sdg/targets/tag_list_component.html.erb
  app/components/sdg/targets/tag_list_component.rb
  app/components/shared/see_more_link_component.html.erb
  app/components/shared/see_more_link_component.rb
  app/components/shared/tag_list_component.html.erb
  app/components/shared/tag_list_component.rb
  app/helpers/link_list_helper.rb
  app/helpers/tags_helper.rb
  app/models/concerns/taggable.rb
  app/views/shared/_tag_cloud.html.erb
  app/views/shared/_tags.html.erb
  config/i18n-tasks.yml
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/components/sdg/goals/filter_links_component_spec.rb
  spec/components/sdg/goals/tag_cloud_component_spec.rb
  spec/components/sdg/goals/tag_list_component_spec.rb
  spec/helpers/link_list_helper_spec.rb
Labels: Refactoring, SDG

#4349 Fix flaky budget polls voting spec
  spec/system/budget_polls/voter_spec.rb
Labels: Flaky spec

#4348 Allow toggling the column selector with a keyboard
  app/assets/javascripts/columns_selector.js
  app/assets/stylesheets/admin.scss
  app/views/admin/shared/_columns_selector.html.erb
  spec/system/admin/budget_investments_spec.rb
Labels: Accessibility

#4350 Try to avoid exceptions after flaggable tests
  spec/shared/system/flaggable.rb
Labels: Flaky spec

#4352 Use google icon in sign in page
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/mixins.scss
Labels: UX

#4357 Fix tags styles in forms
  app/assets/stylesheets/tags.scss
Labels: Bug

#4358 Improve goals/targets selector accessibility
  app/assets/javascripts/sdg/related_list_selector.js
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/sdg/related_list_selector.scss
  app/components/sdg/related_list_selector_component.html.erb
  app/components/sdg/related_list_selector_component.rb
  config/locales/en/activerecord.yml
  config/locales/en/sdg.yml
  config/locales/es/activerecord.yml
  config/locales/es/sdg.yml
  spec/support/common_actions.rb
  spec/system/sdg_management/relations_spec.rb
Labels: Accessibility, SDG

#4360 Fix new notifications count
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/notification_item.scss
  app/components/layout/notification_item_component.html.erb
  app/components/layout/notification_item_component.rb
  app/views/layouts/_notification_item.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/shared/system/notifiable_in_app.rb
  spec/system/notifications_spec.rb
  spec/system/proposal_notifications_spec.rb
Labels: Bug

#4362 Add new admin tables and forms styles
  app/assets/stylesheets/_consul_settings.scss
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/admin/search.scss
  app/assets/stylesheets/layout.scss
  app/views/admin/activity/show.html.erb
  app/views/admin/administrators/index.html.erb
  app/views/admin/administrators/search.html.erb
  app/views/admin/hidden_budget_investments/index.html.erb
  app/views/admin/hidden_comments/index.html.erb
  app/views/admin/hidden_debates/index.html.erb
  app/views/admin/hidden_proposal_notifications/index.html.erb
  app/views/admin/hidden_proposals/index.html.erb
  app/views/admin/hidden_users/index.html.erb
  app/views/admin/local_census_records/_local_census_records.html.erb
  app/views/admin/managers/index.html.erb
  app/views/admin/moderators/index.html.erb
  app/views/admin/moderators/search.html.erb
  app/views/admin/officials/index.html.erb
  app/views/admin/organizations/index.html.erb
  app/views/admin/organizations/search.html.erb
  app/views/admin/tags/index.html.erb
  app/views/admin/users/_users.html.erb
  app/views/admin/valuator_groups/index.html.erb
  app/views/admin/valuators/index.html.erb
  app/views/admin/valuators/search.html.erb
Labels: UX

#4368 Add help texts in budgets admin section
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/admin/budgets/help.scss
  app/assets/stylesheets/application.scss
  app/components/admin/budgets/help_component.html.erb
  app/components/admin/budgets/help_component.rb
  app/views/admin/budget_groups/index.html.erb
  app/views/admin/budget_headings/index.html.erb
  app/views/admin/budgets/_form.html.erb
  app/views/admin/budgets/index.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
Labels: Budgets

#4370 Improve admin budgets form layout
  app/assets/stylesheets/admin/budgets/form.scss
  app/assets/stylesheets/admin/budgets/help.scss
  app/views/admin/budgets/_association.html.erb
  app/views/admin/budgets/_form.html.erb
  app/views/admin/budgets/edit.html.erb
  app/views/admin/shared/_show_results_fields.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/system/admin/budgets_spec.rb
Labels: Budgets, UX

#4369 Refactor participatory budgets in draft mode
  app/assets/stylesheets/admin.scss
  app/assets/stylesheets/admin/budgets/drafting.scss
  app/components/admin/budgets/drafting_component.html.erb
  app/components/admin/budgets/drafting_component.rb
  app/components/admin/budgets/table_actions_component.html.erb
  app/controllers/admin/budgets_controller.rb
  app/helpers/budgets_helper.rb
  app/models/abilities/administrator.rb
  app/models/budget.rb
  app/models/budget/phase.rb
  app/views/admin/budgets/edit.html.erb
  app/views/admin/budgets/show.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  db/migrate/20200211123827_add_published_status_to_budgets.rb
  db/schema.rb
  lib/tasks/budgets.rake
  lib/tasks/consul.rake
  spec/components/admin/budgets/table_actions_component_spec.rb
  spec/factories/budgets.rb
  spec/lib/tasks/budgets_spec.rb
  spec/models/budget/phase_spec.rb
  spec/models/budget_spec.rb
  spec/system/admin/budgets_spec.rb
  spec/system/budgets/budgets_spec.rb
Labels: Budgets, Refactoring

#4375 Add SDG goals/targets to legislation proposals
  app/assets/stylesheets/admin/menu.scss
  app/components/sdg/filter_links_component.rb
  app/controllers/concerns/commentable_actions.rb
  app/controllers/legislation/processes_controller.rb
  app/models/budget/investment.rb
  app/models/concerns/filterable.rb
  app/models/concerns/sdg/related.rb
  app/models/legislation/proposal.rb
  config/locales/en/admin.yml
  config/locales/en/sdg_management.yml
  config/locales/es/admin.yml
  config/locales/es/sdg_management.yml
  spec/components/sdg_management/menu_component_spec.rb
  spec/models/sdg/process_enabled_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4371 Add filter to display all budgets in admin section
  app/assets/stylesheets/admin/budgets/index.scss
  app/controllers/admin/budgets_controller.rb
  app/views/admin/budgets/index.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  spec/system/admin/budgets_spec.rb
Labels: Budgets

#4367 Allow to add header cards to SDG homepage
  app/assets/stylesheets/sdg/goals/index.scss
  app/assets/stylesheets/sdg_management/homepage/show.scss
  app/components/admin/widget/cards/edit_component.html.erb
  app/components/admin/widget/cards/edit_component.rb
  app/components/admin/widget/cards/new_component.html.erb
  app/components/admin/widget/cards/new_component.rb
  app/components/admin/widget/cards/row_component.html.erb
  app/components/admin/widget/cards/row_component.rb
  app/components/admin/widget/cards/table_component.html.erb
  app/components/admin/widget/cards/table_component.rb
  app/components/sdg/goals/index_component.html.erb
  app/components/sdg/goals/index_component.rb
  app/components/sdg_management/homepage/show_component.html.erb
  app/components/sdg_management/homepage/show_component.rb
  app/controllers/concerns/admin/widget/cards_actions.rb
  app/controllers/sdg/goals_controller.rb
  app/controllers/sdg_management/header_controller.rb
  app/controllers/sdg_management/homepage_controller.rb
  app/models/abilities/sdg/manager.rb
  app/models/web_section.rb
  app/views/admin/widget/cards/_form.html.erb
  app/views/admin/widget/cards/edit.html.erb
  app/views/admin/widget/cards/new.html.erb
  app/views/sdg/goals/index.html.erb
  app/views/sdg_management/homepage/show.html.erb
  app/views/shared/_header.html.erb
  app/views/welcome/index.html.erb
  config/locales/en/sdg_management.yml
  config/locales/es/sdg_management.yml
  config/routes/sdg_management.rb
  spec/components/sdg/goals/index_component_spec.rb
  spec/models/abilities/sdg/manager_spec.rb
  spec/system/sdg_management/homepage_spec.rb
Labels: SDG
