Repository consuldemocracy/consuldemocracy, pull requests merged in 2021-01, with the labels that each got.

#4304 Fix typos in SDG titles
  app/components/sdg/goals/show_component.rb
  app/models/sdg/goal.rb
  config/locales/en/sdg.yml
  config/locales/es/sdg.yml
Labels: Bug, SDG

#4309 Fix spec name
  spec/components/admin/poll/officers/officers_component_spec.rb
  spec/components/sdg_management/subnavigation_component_spec.rb
  spec/controllers/sdg/goals_spec.rb
  spec/models/abilities/sdg/manager_spec.rb
Labels: SDG, Specs

#4300 Add SDG filters to advanced search
  app/assets/stylesheets/advanced_search.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/components/concerns/sdg/goals/options_for_select.rb
  app/components/sdg_management/relations/index_component.rb
  app/components/shared/advanced_search_component.html.erb
  app/components/shared/advanced_search_component.rb
  app/helpers/search_helper.rb
  app/models/sdg/process_enabled.rb
  app/views/budgets/investments/index.html.erb
  app/views/debates/index.html.erb
  app/views/proposals/index.html.erb
  app/views/shared/_advanced_search.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/components/sdg_management/relations/index_component_spec.rb
  spec/components/shared/advanced_search_component_spec.rb
  spec/system/sdg/goals_spec.rb
Labels: SDG

#4310 Refactor cards controllers
  app/components/admin/widget/cards/row_component.html.erb
  app/components/admin/widget/cards/row_component.rb
  app/components/admin/widget/cards/table_component.html.erb
  app/components/admin/widget/cards/table_component.rb
  app/components/sdg/goals/show_component.html.erb
  app/components/widget/feeds/debate_component.html.erb
  app/components/widget/feeds/debate_component.rb
  app/components/widget/feeds/feed_component.html.erb
  app/components/widget/feeds/feed_component.rb
  app/components/widget/feeds/participation_component.html.erb
  app/components/widget/feeds/participation_component.rb
  app/components/widget/feeds/process_component.html.erb
  app/components/widget/feeds/process_component.rb
  app/components/widget/feeds/proposal_component.html.erb
  app/components/widget/feeds/proposal_component.rb
  app/controllers/admin/dashboard/base_controller.rb
  app/controllers/admin/legislation/base_controller.rb
  app/controllers/admin/local_census_records/base_controller.rb
  app/controllers/admin/poll/base_controller.rb
  app/controllers/admin/site_customization/base_controller.rb
  app/controllers/admin/site_customization/cards_controller.rb
  app/controllers/admin/widget/cards_controller.rb
  app/controllers/concerns/admin/widget/cards_actions.rb
  app/controllers/officing/ballot_sheets_controller.rb
  app/models/abilities/administrator.rb
  app/models/widget.rb
  app/models/widget/card.rb
  app/models/widget/feed.rb
  app/views/admin/homepage/_cards.html.erb
  app/views/admin/homepage/show.html.erb
  app/views/admin/site_customization/cards/_card.html.erb
  app/views/admin/site_customization/cards/_cards.html.erb
  app/views/admin/site_customization/cards/index.html.erb
  app/views/admin/site_customization/pages/index.html.erb
  app/views/admin/widget/cards/_form.html.erb
  app/views/admin/widget/cards/edit.html.erb
  app/views/admin/widget/cards/new.html.erb
  app/views/welcome/_feeds.html.erb
  app/views/welcome/_processes.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  spec/components/widget/feeds/feed_component_spec.rb
  spec/models/abilities/administrator_spec.rb
  spec/models/widget/card_spec.rb
  spec/routing/polymorphic_routes_spec.rb
  spec/support/common_actions/notifications.rb
  spec/system/admin/widgets/cards_spec.rb
Labels: Refactoring, SDG

#4311 Add SDG cards management section
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/sdg_management/homepage/show.scss
  app/assets/stylesheets/sdg_management/menu.scss
  app/components/admin/table_actions_component.rb
  app/components/admin/widget/cards/edit_component.html.erb
  app/components/admin/widget/cards/edit_component.rb
  app/components/admin/widget/cards/new_component.html.erb
  app/components/admin/widget/cards/new_component.rb
  app/components/application_component.rb
  app/components/sdg/goals/show_component.rb
  app/components/sdg_management/homepage/show_component.html.erb
  app/components/sdg_management/homepage/show_component.rb
  app/components/sdg_management/local_targets/form_component.rb
  app/components/sdg_management/local_targets/index_component.rb
  app/components/sdg_management/menu_component.rb
  app/controllers/sdg_management/cards_controller.rb
  app/controllers/sdg_management/homepage_controller.rb
  app/helpers/admin_helper.rb
  app/models/abilities/everyone.rb
  app/models/abilities/sdg/manager.rb
  app/models/concerns/cardable.rb
  app/models/sdg/phase.rb
  app/models/site_customization/page.rb
  app/models/widget/card.rb
  app/views/admin/widget/cards/_form.html.erb
  app/views/admin/widget/cards/edit.html.erb
  app/views/admin/widget/cards/new.html.erb
  app/views/sdg_management/homepage/show.html.erb
  config/initializers/routes_hierarchy.rb
  config/locales/en/activerecord.yml
  config/locales/en/sdg_management.yml
  config/locales/es/activerecord.yml
  config/locales/es/sdg_management.yml
  config/routes/admin.rb
  config/routes/sdg_management.rb
  db/dev_seeds/sdg.rb
  db/migrate/20210106132909_make_cards_polymorphic.rb
  db/migrate/20210107125458_create_sdg_phases.rb
  db/schema.rb
  db/sdg.rb
  spec/components/admin/budgets/table_actions_component_spec.rb
  spec/components/admin/poll/officers/officers_component_spec.rb
  spec/components/admin/roles/table_actions_component_spec.rb
  spec/components/admin/table_actions_component_spec.rb
  spec/components/sdg_management/menu_component_spec.rb
  spec/factories/sdg.rb
  spec/lib/tasks/db_spec.rb
  spec/models/abilities/everyone_spec.rb
  spec/models/abilities/sdg/manager_spec.rb
  spec/models/sdg/phase_spec.rb
  spec/models/widget/card_spec.rb
  spec/routing/polymorphic_routes_spec.rb
  spec/system/admin/widgets/cards_spec.rb
  spec/system/sdg_management/homepage_spec.rb
  spec/system/site_customization/custom_pages_spec.rb
Labels: SDG

#4314 Add icons and cards to SDG homepage
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/sdg/goals/index.scss
  app/components/sdg/goals/index_component.html.erb
  app/components/sdg/goals/index_component.rb
  app/controllers/sdg/goals_controller.rb
  app/views/pages/custom_page.html.erb
  app/views/sdg/goals/index.html.erb
  app/views/shared/_cards.html.erb
  app/views/welcome/index.html.erb
  config/locales/en/sdg.yml
  config/locales/es/sdg.yml
  spec/system/sdg/goals_spec.rb
Labels: SDG

#4294 Extend SDG managment section to allow content reviews
  .rubocop.yml
  app/components/sdg_management/relations/index_component.html.erb
  app/components/sdg_management/relations/index_component.rb
  app/components/sdg_management/subnavigation_component.rb
  app/controllers/concerns/has_filters.rb
  app/controllers/sdg_management/relations_controller.rb
  app/models/concerns/sdg/relatable.rb
  app/models/sdg/review.rb
  app/views/shared/_filter_subnav.html.erb
  config/i18n-tasks.yml
  config/locales/en/sdg_management.yml
  config/locales/es/sdg_management.yml
  db/migrate/20201221100246_create_sdg_reviews.rb
  db/schema.rb
  spec/components/sdg_management/relations/index_component_spec.rb
  spec/controllers/concerns/has_filters_spec.rb
  spec/factories/sdg.rb
  spec/models/sdg/relatable_spec.rb
  spec/models/sdg/review_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4320 Make it possible to add banners to the SDG section
  app/components/sdg/goals/index_component.html.erb
  app/components/shared/banner_component.html.erb
  app/components/shared/banner_component.rb
  app/controllers/budgets_controller.rb
  app/controllers/concerns/commentable_actions.rb
  app/controllers/pages_controller.rb
  app/controllers/welcome_controller.rb
  app/helpers/banners_helper.rb
  app/views/admin/banners/_form.html.erb
  app/views/admin/banners/index.html.erb
  app/views/budgets/index.html.erb
  app/views/debates/index.html.erb
  app/views/pages/help/index.html.erb
  app/views/proposals/index.html.erb
  app/views/shared/_banner.html.erb
  app/views/welcome/index.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  db/dev_seeds/banners.rb
  db/seeds.rb
  db/web_sections.rb
  lib/tasks/db.rake
  spec/components/shared/banner_component_spec.rb
Labels: SDG

#4315 Add SDG goal/target selector
  .eslintrc.yml
  app/assets/javascripts/application.js
  app/assets/javascripts/sdg/related_list_selector.js
  app/assets/stylesheets/_consul_settings.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/sdg/related_list_selector.scss
  app/components/application_component.rb
  app/components/sdg/related_list_selector_component.html.erb
  app/components/sdg/related_list_selector_component.rb
  app/components/sdg_management/relations/edit_component.html.erb
  app/controllers/sdg_management/relations_controller.rb
  app/models/concerns/sdg/relatable.rb
  config/locales/en/activerecord.yml
  config/locales/en/sdg.yml
  config/locales/es/activerecord.yml
  config/locales/es/sdg.yml
  spec/components/sdg/related_list_selector_component_spec.rb
  spec/models/sdg/relatable_spec.rb
  spec/rails_helper.rb
  spec/system/sdg_management/relations_spec.rb
  spec/system/xss_spec.rb
  vendor/assets/javascripts/jquery.amsify.suggestags.js
  vendor/assets/stylesheets/amsify.suggestags.css
Labels: SDG

#4325 Add related list selector component to forms
  app/assets/stylesheets/sdg/related_list_selector.scss
  app/assets/stylesheets/sdg_management/relations/edit.scss
  app/components/sdg/related_list_selector_component.rb
  app/components/sdg_management/relations/edit_component.html.erb
  app/controllers/admin/legislation/processes_controller.rb
  app/controllers/admin/poll/polls_controller.rb
  app/controllers/budgets/investments_controller.rb
  app/controllers/debates_controller.rb
  app/controllers/proposals_controller.rb
  app/views/admin/legislation/processes/_form.html.erb
  app/views/admin/legislation/processes/index.html.erb
  app/views/admin/poll/polls/_form.html.erb
  app/views/admin/poll/polls/_poll.html.erb
  app/views/admin/poll/polls/index.html.erb
  app/views/budgets/investments/_form.html.erb
  app/views/debates/_form.html.erb
  app/views/proposals/_form.html.erb
  spec/components/sdg/related_list_selector_component_spec.rb
  spec/support/common_actions.rb
  spec/system/admin/legislation/processes_spec.rb
  spec/system/admin/poll/polls_spec.rb
  spec/system/budgets/investments_spec.rb
  spec/system/debates_spec.rb
  spec/system/proposals_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4322 Allow filtering by local target in SDG management
  app/components/sdg_management/relations/index_component.rb
  app/models/concerns/sdg/relatable.rb
  app/models/sdg/local_target.rb
  app/models/sdg/target.rb
  spec/models/sdg/local_target_spec.rb
  spec/models/sdg/relatable_spec.rb
  spec/models/sdg/target_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4326 Try to avoid PG::ProtocolViolation error in tests
  spec/system/comments/legislation_annotations_spec.rb
  spec/system/proposal_notifications_spec.rb
Labels: Flaky spec

#4328 Expire cache after assigning targets
  app/models/sdg/relation.rb
  spec/models/sdg/relatable_spec.rb
Labels: Bug, SDG

#4323 Add SDG stats page to admin section
  app/components/admin/stats/sdg/goal_component.html.erb
  app/components/admin/stats/sdg/goal_component.rb
  app/components/admin/stats/sdg_component.html.erb
  app/components/admin/stats/sdg_component.rb
  app/controllers/admin/stats_controller.rb
  app/views/admin/stats/sdg.html.erb
  app/views/admin/stats/show.html.erb
  config/locales/en/admin.yml
  config/locales/es/admin.yml
  config/routes/admin.rb
  spec/components/admin/stats/sdg/goal_component_spec.rb
  spec/system/admin/stats_spec.rb
Labels: SDG

#4327 Add local targets to related list selector
  app/components/sdg/related_list_selector_component.html.erb
  app/components/sdg/related_list_selector_component.rb
  app/controllers/admin/legislation/processes_controller.rb
  app/controllers/admin/poll/polls_controller.rb
  app/controllers/budgets/investments_controller.rb
  app/controllers/debates_controller.rb
  app/controllers/proposals_controller.rb
  app/controllers/sdg_management/relations_controller.rb
  app/models/concerns/sdg/relatable.rb
  app/models/sdg/goal.rb
  app/models/sdg/local_target.rb
  app/models/sdg/target.rb
  config/locales/en/activerecord.yml
  config/locales/es/activerecord.yml
  db/migrate/20210123100638_add_goals_to_local_targets.rb
  db/schema.rb
  spec/components/sdg/related_list_selector_component_spec.rb
  spec/factories/sdg.rb
  spec/models/sdg/goal_spec.rb
  spec/models/sdg/local_target_spec.rb
  spec/models/sdg/relatable_spec.rb
  spec/models/sdg/target_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4330 Add descriptions to SDG view
  app/assets/stylesheets/sdg/goals/show.scss
  app/components/sdg/goals/show_component.html.erb
  app/components/sdg/goals/show_component.rb
  config/locales/en/sdg.yml
  config/locales/es/sdg.yml
  spec/components/sdg/goals/show_component_spec.rb
  spec/system/sdg/goals_spec.rb
Labels: SDG

#4324 Add SDG target tags and filter
  app/assets/stylesheets/advanced_search.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/participation.scss
  app/assets/stylesheets/sdg/goals/filter_links.scss
  app/assets/stylesheets/sdg/goals/index.scss
  app/assets/stylesheets/sdg/goals/tag_list.scss
  app/assets/stylesheets/sdg/related_list_selector.scss
  app/assets/stylesheets/sdg/tag_list.scss
  app/assets/stylesheets/tags.scss
  app/components/concerns/sdg/goals/options_for_select.rb
  app/components/concerns/sdg/options_for_select.rb
  app/components/concerns/sdg/tag_list.rb
  app/components/sdg/goals/tag_list_component.rb
  app/components/sdg/tag_list_component.html.erb
  app/components/sdg/tag_list_component.rb
  app/components/sdg/targets/tag_list_component.html.erb
  app/components/sdg/targets/tag_list_component.rb
  app/components/sdg_management/relations/index_component.rb
  app/components/shared/advanced_search_component.html.erb
  app/components/shared/advanced_search_component.rb
  app/helpers/link_list_helper.rb
  app/models/concerns/filterable.rb
  app/views/polls/_poll_group.html.erb
  app/views/polls/_poll_header.html.erb
  app/views/shared/_tags.html.erb
  app/views/users/_interests.html.erb
  config/i18n-tasks.yml
  config/locales/en/general.yml
  config/locales/en/sdg.yml
  config/locales/es/general.yml
  config/locales/es/sdg.yml
  spec/components/sdg/targets/tag_list_component_spec.rb
  spec/components/shared/advanced_search_component_spec.rb
  spec/helpers/link_list_helper_spec.rb
  spec/system/budgets/investments_spec.rb
  spec/system/debates_spec.rb
  spec/system/proposals_spec.rb
Labels: SDG

#4337 Make target filter change when goal filter changes
  app/assets/javascripts/advanced_search.js
  app/assets/javascripts/application.js
  app/assets/javascripts/sdg/sync_goal_and_target_filters.js
  app/assets/javascripts/sdg_management/relations/search.js
  app/components/sdg_management/relations/index_component.html.erb
  app/components/sdg_management/relations/index_component.rb
  app/components/sdg_management/relations/search_component.html.erb
  app/components/sdg_management/relations/search_component.rb
  spec/components/sdg_management/relations/index_component_spec.rb
  spec/components/sdg_management/relations/search_component_spec.rb
  spec/system/advanced_search_spec.rb
  spec/system/budgets/investments_spec.rb
  spec/system/debates_spec.rb
  spec/system/proposals_spec.rb
  spec/system/sdg_management/relations_spec.rb
Labels: SDG

#4334 New header section on SDG Goals Index
  app/assets/stylesheets/participation.scss
  app/assets/stylesheets/sdg/goals/index.scss
  app/components/sdg/goals/index_component.html.erb
  spec/components/sdg/goals/index_component_spec.rb
Labels: SDG

#4331 Add targets to SDG view
  app/assets/stylesheets/sdg/goals/targets.scss
  app/components/sdg/goals/show_component.html.erb
  app/components/sdg/goals/targets_component.html.erb
  app/components/sdg/goals/targets_component.rb
  config/locales/en/sdg.yml
  config/locales/es/sdg.yml
  spec/components/sdg/goals/targets_component_spec.rb
  spec/system/sdg/goals_spec.rb
Labels: SDG

#4336 Adjust SDG icons size
  app/assets/stylesheets/_consul_settings.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/sdg/goals/icon.scss
  app/assets/stylesheets/sdg/goals/index.scss
  app/assets/stylesheets/sdg/related_list_selector.scss
Labels: SDG

#4342 Improve performance sorting SDG records
  app/models/concerns/sdg/related.rb
  app/models/sdg/goal.rb
  app/models/sdg/local_target.rb
  app/models/sdg/target.rb
Labels: SDG

#4329 Display related SDG and targets on polls and processes
  app/assets/stylesheets/legislation.scss
  app/assets/stylesheets/legislation_process.scss
  app/assets/stylesheets/mixins.scss
  app/assets/stylesheets/participation.scss
  app/assets/stylesheets/sdg/tag_list.scss
  app/components/sdg/goals/plain_tag_list_component.html.erb
  app/components/sdg/goals/plain_tag_list_component.rb
  app/components/sdg/tag_list_component.html.erb
  app/components/sdg/tag_list_component.rb
  app/components/sdg/targets/plain_tag_list_component.html.erb
  app/components/sdg/targets/plain_tag_list_component.rb
  app/views/legislation/processes/_header_full.html.erb
  app/views/legislation/processes/_process.html.erb
  app/views/polls/_poll_group.html.erb
  app/views/polls/_poll_header.html.erb
  spec/components/sdg/goals/plain_tag_list_component_spec.rb
  spec/components/sdg/tag_list_component_spec.rb
  spec/components/sdg/targets/plain_tag_list_component_spec.rb
  spec/system/legislation/processes_spec.rb
  spec/system/polls/polls_spec.rb
Labels: SDG

#4341 Add SDG tags to most active feeds
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/widgets/feeds/participation.scss
  app/components/widget/feeds/debate_component.html.erb
  app/components/widget/feeds/process_component.html.erb
  app/components/widget/feeds/proposal_component.html.erb
  spec/components/widget/feeds/debate_component_spec.rb
  spec/components/widget/feeds/process_component_spec.rb
  spec/components/widget/feeds/proposal_component_spec.rb
Labels: SDG
