Repository consuldemocracy/consuldemocracy, pull requests merged in 2024-11, with the labels that each got.

#5766 Reduce code duplication in Graphql
  app/graphql/types/base_object.rb
  app/graphql/types/budget_investment_type.rb
  app/graphql/types/budget_type.rb
  app/graphql/types/comment_type.rb
  app/graphql/types/debate_type.rb
  app/graphql/types/proposal_type.rb
  app/graphql/types/query_type.rb
  app/graphql/types/user_type.rb
Labels: Refactoring

#5057 Add an option to enable the "Multitenancy management mode"
  app/assets/stylesheets/admin/menu.scss
  app/components/admin/menu_component.rb
  app/components/layout/admin_header_component.html.erb
  app/components/layout/admin_header_component.rb
  app/components/layout/admin_login_items_component.rb
  app/components/layout/footer_component.rb
  app/components/layout/login_items_component.html.erb
  app/components/layout/login_items_component.rb
  app/components/layout/notification_item_component.html.erb
  app/components/layout/notification_item_component.rb
  app/components/layout/subnavigation_component.rb
  app/controllers/concerns/access_denied_handler.rb
  app/controllers/users/sessions_controller.rb
  config/application.rb
  config/routes.rb
  config/routes/admin.rb
  config/routes/budget.rb
  config/routes/community.rb
  config/routes/custom.rb
  config/routes/legislation.rb
  config/routes/poll.rb
  config/routes/sdg_management.rb
  config/secrets.yml.example
  docs/en/features/multitenancy.md
  docs/es/features/multitenancy.md
  docs/img/multitenancy/management-mode-en.png
  docs/img/multitenancy/management-mode-es.png
  spec/components/admin/menu_component_spec.rb
  spec/components/layout/admin_header_component_spec.rb
  spec/components/layout/admin_login_items_component_spec.rb
  spec/components/layout/footer_component_spec.rb
  spec/components/layout/login_items_component_spec.rb
  spec/components/layout/notification_item_component_spec.rb
  spec/components/layout/subnavigation_component_spec.rb
  spec/controllers/users/sessions_controller_spec.rb
  spec/system/multitenancy_management_mode_spec.rb
Labels: Documentation, Community Interest

#5758 Remove instance_double usage in CommentsHelper tests
  spec/helpers/comments_helper_spec.rb
  spec/models/verification/management/document_spec.rb
Labels: Flaky spec

#5759 Add missing expectation in users test
  spec/system/users_spec.rb
Labels: Flaky spec

#5761 Include voter initialization in officing voters lock
  app/controllers/officing/voters_controller.rb
  spec/controllers/officing/voters_controller_spec.rb
Labels: Flaky spec, Flaky bug

#5760 Track ahoy visits on the server side
  app/assets/javascripts/application.js
  config/initializers/ahoy.rb
  db/migrate/20241026111636_remove_search_keyword_from_visits.rb
  db/migrate/20241026112901_add_tokens_to_visits.rb
  db/schema.rb
  spec/system/admin/stats_spec.rb
Labels: Bug, Flaky spec

#5764 Use flex instead of data-equalizer in executions
  app/assets/stylesheets/budgets/executions/heading.scss
  app/assets/stylesheets/budgets/executions/investment.scss
  app/assets/stylesheets/participation.scss
  app/components/budgets/executions/heading_component.html.erb
  app/components/budgets/executions/heading_component.rb
  app/components/budgets/executions/investment_component.html.erb
  app/components/budgets/executions/investment_component.rb
  app/components/budgets/executions/investments_component.html.erb
  app/components/budgets/executions/investments_component.rb
  app/views/budgets/executions/_investments.html.erb
  app/views/budgets/executions/show.html.erb
  spec/components/budgets/executions/image_component_spec.rb
  spec/system/budgets/executions_spec.rb
Labels: UX, Flaky spec, Flaky bug

#5740 Use buttons for actions requiring confirmation
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/dashboard.scss
  app/assets/stylesheets/debates/mark_featured_action.scss
  app/assets/stylesheets/documents/document.scss
  app/assets/stylesheets/layout.scss
  app/assets/stylesheets/users/budget_investment_table_actions.scss
  app/components/debates/mark_featured_action_component.html.erb
  app/components/debates/mark_featured_action_component.rb
  app/components/documents/document_component.html.erb
  app/components/users/budget_investment_table_actions_component.html.erb
  app/components/users/budget_investment_table_actions_component.rb
  app/views/comments/_actions.html.erb
  app/views/dashboard/polls/_poll.html.erb
  app/views/debates/_actions.html.erb
  app/views/management/users/_erase_user_account.html.erb
  app/views/shared/_recommended_index.html.erb
  app/views/users/_budget_investment.html.erb
  config/locales/en/general.yml
  config/locales/es/general.yml
  spec/components/users/budget_investment_table_actions_component_spec.rb
  spec/shared/system/documentable.rb
  spec/system/budgets/investments_spec.rb
  spec/system/comments_spec.rb
  spec/system/dashboard/polls_spec.rb
  spec/system/debates_spec.rb
  spec/system/management/users_spec.rb
  spec/system/proposals_spec.rb
  spec/system/users_spec.rb
  spec/system/valuation/budget_investments_spec.rb
Labels: Accessibility

#5786 Include stat graphs JavaScript in all admin stats actions
  app/components/admin/stats/budget_balloting_component.html.erb
  app/components/admin/stats/budget_balloting_component.rb
  app/components/admin/stats/budget_supporting_component.html.erb
  app/components/admin/stats/budget_supporting_component.rb
  app/helpers/application_helper.rb
  app/views/admin/stats/budgets.html.erb
  app/views/admin/stats/direct_messages.html.erb
  app/views/admin/stats/graph.html.erb
  app/views/admin/stats/polls.html.erb
  app/views/admin/stats/proposal_notifications.html.erb
  app/views/admin/stats/sdg.html.erb
  app/views/admin/stats/show.html.erb
Labels: UX, Flaky spec

#5788 Add missing expectation in hide money test
  spec/system/budgets/ballots_spec.rb
Labels: Flaky spec

#5744 Associate all select fields with labels
  app/assets/javascripts/admin/poll/shifts/form.js
  app/assets/javascripts/application.js
  app/components/admin/poll/shifts/form_component.html.erb
  app/components/admin/poll/shifts/form_component.rb
  app/components/shared/date_of_birth_field_component.html.erb
  app/components/shared/date_of_birth_field_component.rb
  app/controllers/admin/poll/shifts_controller.rb
  app/helpers/shifts_helper.rb
  app/helpers/verification_helper.rb
  app/lib/active_model/dates.rb
  app/models/officing/residence.rb
  app/models/verification/management/document.rb
  app/models/verification/residence.rb
  app/views/admin/emails_download/index.html.erb
  app/views/admin/local_census_records/_form.html.erb
  app/views/admin/poll/shifts/new.html.erb
  app/views/management/document_verifications/index.html.erb
  app/views/management/users/new.html.erb
  app/views/officing/booth/new.html.erb
  app/views/officing/residence/new.html.erb
  app/views/officing/results/new.html.erb
  app/views/verification/residence/new.html.erb
  spec/components/shared/date_of_birth_field_component_spec.rb
  spec/models/officing/residence_spec.rb
  spec/models/verification/management/document_spec.rb
  spec/models/verification/residence_spec.rb
  spec/support/common_actions/verifications.rb
  spec/system/admin/emails/emails_download_spec.rb
  spec/system/admin/local_census_records_spec.rb
  spec/system/admin/poll/shifts_spec.rb
  spec/system/budget_polls/ballot_sheets_spec.rb
  spec/system/management/document_verifications_spec.rb
  spec/system/management/users_spec.rb
  spec/system/officing/booth_spec.rb
  spec/system/officing/residence_spec.rb
  spec/system/officing/results_spec.rb
  spec/system/verification/residence_spec.rb
Labels: Accessibility

#5745 Add missing alt attributes to images
  app/components/shared/avatar_component.rb
  app/views/budgets/groups/show.html.erb
  app/views/dashboard/mailer/forward.html.erb
  app/views/dashboard/mailing/index.html.erb
  app/views/dashboard/poster/index.html.erb
  app/views/dashboard/poster/index.pdf.erb
  app/views/proposals/map.html.erb
  spec/components/shared/avatar_component_spec.rb
  spec/system/admin/site_customization/images_spec.rb
  spec/system/xss_spec.rb
Labels: Accessibility

#5791 Update OS guides references
  docs/en/installation/vagrant.md
  docs/es/installation/vagrant.md
Labels: Documentation
